body {
  font-family: sans-serif;
  color: #666;
  background-color: #f1f1f1;
  font-size: x-large;
  width: 90vw;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.title {
  background-color: black;
  opacity: 0.5;
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

}

.movietitle {
  margin: 0;
}

#movie1 {
  background: url('img/oppenheimer.png');
  background-repeat: 0;
  background-size: 100% 100%;
}

#movie2 {
  background: url('img/empire.png');
  background-repeat: 0;
  background-size: 100% 100%;
}


.towatch {
  border: 3px solid black;
  border-radius: 40px;
  width: auto;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 50px;
  align-items: end;
  justify-content: space-between;
}


.infobutton {
  width: 80px;
  height: 80px;
  margin-top: 100px;
  border-radius: 50%;
  transition: scale 0.25s ease;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 15px;
  text-align: center;
}
.infobutton:hover {
  scale: 1.05;
  
}
a {
  color: #666;
}

a:visited {
  color: #666;
}
.header {
  grid-area: hd;
  padding: 0;
  padding-right:50px;
  height: 100px;
  display: flex;
  align-items: center;
  gap: 50px;
}
.header h1 {
  margin: 0;
}
.header span {
  font-size: 50px;
}
.nav {
  grid-area:th;
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  gap: 5px;
}

.navitem {
  border: 3px solid black;
  width: 100%;
  border-radius: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;

}
.not_watched {

  margin: 25px;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100px 100px 400px 400px 100px;
  column-gap: 50px;
  
  grid-template-areas:
  'hd hd hd hd'
  'th th th th'
  'tw tw tw tw'
  'tw tw tw tw'
  'ft ft ft ft';
}




.biginfo {
  margin: 25px;
  width: 100%;
  height: 1000px;
}
.biginfo h1 {
  margin: 0;
}

.actualinfo {
  background-color: gray;
  height: 500px;
  width: 700px;
  padding: 25px;
  border-radius: 25px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.actualinfo p {
  margin: 0;
}

#imdbrating {
  display:inline
}

.imdbstuff {
  display: flex;
  align-items: center;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}